.header__burger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 45px;
}
.header__burger-span {
  background-color: black;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s, opacity 0.3s, transform 0.5s;
  will-change: transform;
}

.header__burger span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger span:nth-child(2) {
  width: 20px;
  left: 9px;
}

.header__burger-span.open {
  background-color: rgb(0, 0, 0);
}

.header__burger-span.open:nth-child(1) {
  transform: translateY(0) rotate(40deg);
  width: 40px;
}

.header__burger-span.open:nth-child(2) {
  transform: translateY(0) rotate(-40deg);
  width: 40px;
  left: 0;
}

.header-main {
  background: url("../img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1920/988;
  position: relative;
}

.header-main__arrow {
  padding: 20px;
  border-radius: 100%;
  background-color: var(--white);
}
.header-main__arrow button {
  background: transparent;
}

.header-main__left {
  position: absolute;
  top: 470px;
  left: 32px;
}

.header-main__right {
  position: absolute;
  top: 470px;
  left: 1830px;
  right: 32px;
}

.header-content {
  padding: 220px 0;
  color: var(--white);
}

.header-content__title {
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 0.01em;
  max-width: 577px;
}
.header-content__title span {
  color: var(--primary);
}

.header-content__text {
  padding-bottom: 60px;
  font-size: 20px;
  line-height: 150%;
  max-width: 595px;
  color: white;
}

.header-content__buttons {
  display: flex;
  gap: 24px;
}

.header-content__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding: 0 40px;
  border-radius: 4px;
  color: var(--white);
  background: var(--primary);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__logo {
  width: 130px;
  height: 22px;
}

.nav__link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--gray-800);
}
.nav__link:hover {
  transition: all 0.3s ease 0s;
  color: var(--primary);
}

.nav__cards {
  display: flex;
  gap: 36px;
}

.nav__card {
  position: relative;
  padding-left: 40px;
}
.nav__card ::after {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10%;
  left: 0;
  right: 100%;
  content: url("../img/phone.svg");
  -o-object-fit: cover;
     object-fit: cover;
}

.nav__card-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-800);
}

.nav__card-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--gray-900);
}

.nav__card-two {
  padding-left: 52px;
}
.nav__card-two ::after {
  content: url("../img/chat.svg");
}/*# sourceMappingURL=main.css.map */